.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    border-right: solid 2px white;
}

.App-link {
    color: #61dafb;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.start {
    justify-content: start;
    align-items: flex-start;
}
.left {
    align-items: flex-start;
}

.center {
    justify-content: center;
    align-items: center;
}
.v-center {
    align-items: center;
}
.h-center {
    justify-content: center;
}

.p-1 {
    padding: 1rem;
}
.p-3 {
    padding: 3rem;
}

.m-0 {
    margin: 0;
}
.m-1 {
    margin: 1rem;
}
.ms-1 {
    margin-left: 1rem;
}

.App button {
    padding: 0.5rem;
    font-size: 1rem;
    color: white;
    background-color: #128cfd;
    border-radius: 5px;
}

.App .numbers button {
    padding: 0.2rem 0.8rem 0 0.8rem;
    font-size: 1rem;
    color: white;
    background-color: #128cfd;
    border-radius: 5px;
}

.App button:hover {
    cursor: pointer;
    background-color: #54abfc;
}

.vh-100 {
    height: 100vh;
}

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}
.w-50 {
    width: 50%;
}

.overflow-hidden {
    overflow: hidden;
}

.scrollable {
    overflow-y: auto;
    height: 80%;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
